.cache/clangd/
compile_commands.json

c_model/obj/
c_model/jpeg

src_simbricks/.cache
src_simbricks/jpeg_rtl_sim_*
src_simbricks/jpeg_synth_sim_*
src_simbricks/jpeg_top_bd_synth.v
src_simbricks/obj_dir/

src_sw/.cache
src_sw/*.d
src_sw/*.o
src_sw/jpeg_driver
src_sw/jpeg_driver_native
